{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "max-len": ["error", { "code": 200 }],
    "semi": ["error", "always"]
  }
}