{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "react-app",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "max-len": [
      "error",
      {
        "code": 200
      }
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}