// Exploring Colors
// $primary: #543c31;
// $secondary: green;
// $table-accent-bg: blue
$light-grey: #f9f9f9;
$table-accent-bg: $light-grey;
$green: rgb(75, 148, 96);
$purple: rgb(75, 63, 114);
// $triadic: rgb(166, 132, 82);
$triadic: rgb(192, 140, 51);
$linen: hsl(33, 15%, 97%);

// Storing original colors from paper
$green-orig: rgb(197, 224, 180);
$purple-orig: rgb(199, 138, 198);

//  App-specific color variables
$maj-color: $green;
$min-color: $purple;

//  Override bootstrap variables
$font-family-sans-serif: "Source Sans Pro";
$white: $linen;
$primary: $triadic;
$primary-emph: lighten($triadic, 20%);
// $headings-font-family: "Playfair Display";
// $headings-font-family: "Lato";
// $headings-font-family: "EB Garamond";
$headings-font-family: "Crimson Text";
$card-bg: $white;
$table-accent-bg: darken($white, 5%);

:export {
  primary: $primary;
  maj-color: $maj-color;
  min-color: $min-color;
  primary-emph: $primary-emph;
}
