// $primary: #543c31;
// $secondary: green;
// $table-accent-bg: blue
$light-grey: #f9f9f9;
$table-accent-bg: $light-grey;
$green: rgb(75, 148, 96);
$purple: rgb(75, 63, 114);
$green-orig: rgb(197, 224, 180);
$purple-orig: rgb(199, 138, 198);
$linen: hsl(36, 33%, 97%);

// $white: $linen;
$white: white;
$primary: $purple;

$card-bg: $white;
$table-accent-bg: darken($white, 5%);
