@import "variables.scss";

#about-page {
  h1 {
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 0;
    margin-top: 2rem;
  }
  p {
    font-size: 18px;
  }
}

#wave-container {
  overflow: hidden;
  height: 150px;
  margin-left: calc((100vw - 100%) / -2) !important;
  margin-right: calc((100vw - 100%) / -2) !important;
}

#learn-more {
  margin-top: -5%;
  color: $white;
  background-color: opacify($color: $min-color, $amount: 0.7);
  margin-left: calc((100vw - 100%) / -2) !important;
  padding-left: calc((100vw - 100%) / 2);
  margin-right: calc((100vw - 100%) / -2) !important;
  padding-right: calc((100vw - 100%) / 2);

  a {
    color: $white;
  }
}

.model-card {
  border: 1px solid black;
  max-height: 315px;
  width: 450px;
  transition: 0.1s ease all;
  &:hover {
    cursor: pointer;
    box-shadow: 3px 3px 6px 1px grey;
    transform: translate(-3px, -3px);
  }
}

.model-card-image {
  width: 100%;
  border: 3px solid $light-grey;
}

@media only screen and (max-width: 1000px) {
  #models {
    #model-cards {
      margin-left: calc((100vw - 100%) / -2) !important;
      margin-right: calc((100vw - 100%) / -2) !important;
    }
  }

  #learn-more {
    margin-top: -10%;
  }
}
