// Variables
@import "_variables.scss";
// Core bootstrap
@import "~bootstrap/scss/bootstrap.scss";
@import "slider.scss";
@import "tickedSlider.scss";

///////////////////////////////////
//// Global styles
html {
  font-size: 14px;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.85rem;
  margin-bottom: 0.25rem;
  padding-top: 0.5rem;
}

.container-fluid {
  max-width: 1300px;
}

.btn,
.card,
.nav-tabs .nav-link {
  border-radius: 0;
}

label {
  margin-bottom: 0.2rem;
}

.card {
  box-shadow: 0px 0px 4px 1px rgb(221, 221, 221);
}

.parameter-container .input-label {
  font-size: 1.1rem;
  display: block;
  max-width: 75%;
  max-width: 1600px;
}
.parameter-container > .card-body {
  padding: 0.85rem;
  padding-top: 0;
}

.parameter-container > .card-body > * {
  margin-top: 0.5rem;
}

////////////////////////////
//// Nav Header
.nav-header {
  background-image: linear-gradient(to bottom right, $maj-color, $min-color);
}

.navbar-brand {
  font-size: 1.75rem;
  font-family: $headings-font-family;
}

.navbar .nav-link {
  text-transform: uppercase;
}

///////////////////////////////////
//// Input Parameters

/* Give inputs a hover text */
input:hover {
  cursor: pointer;
}

input {
  background-color: $body-bg;
  border: 1px solid grey;
  border-radius: 2px;
}

@-moz-document url-prefix() {
  input[type="number"] {
    max-width: 75px;
  }
}

label[for] {
  cursor: pointer;
}

.input-helper-text {
  font-size: 0.85rem;
  font-style: italic;
}

select {
  font-family: $font-family-sans-serif;
}

///////////////////////////////
//// Stats Table vars
.stats-table-title {
  margin: 1rem 1rem 1rem 0;
  width: 100%;

  .literal-title {
    padding-right: 5px;
    background-color: $white;
  }
  .form-group {
    margin-bottom: 0;
    margin-left: 1rem;
  }
}

.kv-table {
  font-size: 1rem;

  .table-key {
    font-style: italic;
    word-break: break-word;
  }
  .table-value {
    font-size: 1.1rem;
    text-align: right;
  }
}

.results-demographic-flip .custom-control-input {
  & ~ .custom-control-label::before {
    border-color: $min-color;
    background-color: $min-color;
  }

  &:checked ~ .custom-control-label::before {
    border-color: $maj-color;
    background-color: $maj-color;
  }
}

* > footer {
  background-color: inherit;
}
