// Variables
@import "_variables.scss";
// Core bootstrap
@import "~bootstrap/scss/bootstrap.scss";

html {
  font-size: 14px;
}

body {
  /* font-family: "Castoro" !important; */
  /* font-family: "Open Sans" !important; */
  /* font-family: "Lato" !important; */
  font-family: "Source Sans Pro" !important;
  margin: 0;
}

h1 {
  font-size: 1.85rem;
  padding-top: 0.5rem;
}

.parameter-container .input-label {
  font-size: 1.1rem;
  display: block;
  max-width: 75%;
}
.parameter-container > .card-body {
  padding: 0.85rem;
  padding-top: 0;
}

.parameter-container > .card-body > * {
  margin-top: 0.85rem;
}

.input-helper-text {
  font-size: 0.85rem;
  font-style: italic;
}

.input-value {
  font-weight: 600;
}

/* Give inputs a hover text */
input:hover {
  cursor: pointer;
}

@-moz-document url-prefix() {
  input[type="number"] {
    max-width: 75px;
  }
}

label[for] {
  cursor: pointer;
}

.input-option-text {
  font-size: 0.85rem;
  margin-bottom: 0;
  margin-left: 0.75rem;
}

.ticked-slider-datalist {
  height: 0;
}
.ticked-slider-datalist > * {
  padding: 0;
}

/* Styling the printed page */
@page {
  size: auto;
  margin: 20mm;
  svg {
    height: 100%;
  }
}

.btn,
.card,
.nav-link {
  border-radius: 0 !important;
}

.navbar-brand {
  font-size: 1.75rem;
}

///////////////////////////////
//// Stats Table vars
.stats-table-title {
  line-height: 0.1rem;
  border-bottom: 1px solid $gray-600;
  margin: 1rem 1rem 1rem 0;
  width: 100%;
  .literal-title {
    padding-right: 5px;
    background-color: $white;
  }
}

.kv-table {
  font-size: 0.7rem;

  .table-key {
    font-style: italic;
    word-break: break-word;
  }
  .table-value {
    font-size: 0.8rem;
    text-align: right;
  }
}
