@import "variables.scss";

// Radio option text styling
label.radio-option-text {
  font-size: 0.85rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  margin-left: 0rem;
}

// Disable default radio styling
input[type="radio"] {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -10;
}

// Default custom radio styling
input[type="radio"] + label:before {
  height: 12px;
  width: 12px;
  margin-right: 5px;
  content: " ";
  display: inline-block;
  border: 1px solid #777;
}

// Default custom radio styling
input[type="radio"] + label:after {
  height: 4px;
  width: 4px;
  content: " ";
  left: 11px;
  border: 1px solid $white;
  border-radius: 20px;
  position: absolute;
}

// Checked styling
input[type="radio"]:checked + label:before {
  background: $triadic;
}

// Checked styling
input[type="radio"]:checked + label:after {
  background: $white;
}

// Focus and hover styling
input[type="radio"]:checked:focus + label:before,
input[type="radio"]:checked:hover + label:before,
input[type="radio"]:not(:checked):hover + label:before {
  box-shadow: 0px 0px 2px 2px $triadic;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type="radio"] + label:before {
  border-radius: 50%;
}
