.ticked_thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -1px;
  background-color: #f8f7f6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);
  &:after {
    width: 12px;
    height: 12px;
    top: 4px;
    left: 4px;
    content: " ";
    position: absolute;
    border-radius: 50%;
    background-color: #dadada;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset,
      0 -1px 3px rgba(0, 0, 0, 0.4) inset;
  }
}

.ticked_mark {
  height: 6px;
  width: 1px;
  top: 8px;
  background-color: black;
}
