body {
  margin: 0;
  font-family: "Open Sans";
}

h1 {
  font-size: 1.75rem;
}

.parameter-container .input-label {
  font-size: 1.1rem;
  display: block;
  max-width: 75%;
}
.parameter-container > .card-body > * {
  margin-top: 0.75rem;
}
.parameter-container > .card-body > *:first-child {
  margin-top: 0;
}

.input-helper-text {
  font-size: 0.75rem;
  font-style: italic;
}
