body {
  margin: 0;
  font-family: "Open Sans";
}

h1 {
  font-size: 1.75rem;
}

.parameter-container .input-label {
  font-size: 1.1rem;
  display: block;
  max-width: 75%;
}
.parameter-container > .card-body {
  padding: 0.75rem;
  padding-top: 0;
}

.parameter-container > .card-body > * {
  margin-top: 0.75rem;
}

.input-helper-text {
  font-size: 0.75rem;
  font-style: italic;
}

.input-value {
  font-weight: 600;
}

.ticked-slider-datalist {
  height: 0;
}
.ticked-slider-datalist > * {
  padding: 0;
}
